<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-test-helpers</h1>
        <p class="lead">An Ember CLI Addon that provides and registers QUnit test helpers for use in the testing of your application.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-test-helpers/blob/master/README.md"><i class="fa fa-book fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-test-helpers/blob/master/README.md"><b>Documentation</b></a></p>
    </div>
    <div class="col-md-6 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-test-helpers"><i class="fa fa-github fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-test-helpers"><b>Available on GitHub</b></a></p>
    </div>
</div>