<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-test-helpers REPLACE_APPLICATION_VERSION</h1>
        <p class="lead">An Ember CLI Addon that provides and registers test helpers for use in the testing of your application.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h3><a href="http://softlayer.github.io/sl-ember-test-helpers/docs" target="new"><i class="fa fa-book fa-5x"></i></a></h3>
        <p><a href="http://softlayer.github.io/sl-ember-test-helpers/docs" target="new"><b>Documentation</b></a></p>
    </div>

    <div class="col-md-6 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-test-helpers"><i class="fa fa-github fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-test-helpers"><b>Available on GitHub</b></a></p>
    </div>
</div>